.title {
  margin-bottom: 10px;
  width: 100%;

  &::before,
  &::after {
    display: none;
  }

  input {
    font-weight: 700;
    font-size: 36px !important;
  }
}

.editor {
  font-size: 18px;
  height: calc(100vh - 220px);
}
